body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  height:100%;
  background: #ddd;
  color: #000;
}

#header, #footer {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 80px;
}

#header {
  margin-top: -400px;
}

#footer {
  margin-top: 320px;
}

#header h1 {
  font-size: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

#slides {
  position: absolute;
  width: 800px;
  height: 640px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -320px;
  background-color: #fff;
  border: 1px solid #000;
}

.slide {
  position: absolute;
}

.nav-pager,
.nav-prev-next {
  margin: 4px 16px;
}

.nav-pager > li,
.nav-prev-next > li {
  float: left;
  margin: 4px;
  padding: 8px 0px;
  background: #aaa;
}

.nav-pager > li.current {
  background: #fff;
}

.nav-pager > li > a,
.nav-prev-next > li > a {
  padding: 0px 8px;
}

.nav-prev-next {
  float: right;
}

.nav-pager {
  float: left;
}


/* Styling the slides themselves - specific to the presentation */

#slides {
  font-size: 24px;
}

.slide {
  width: 640px;
}

.slide {
  margin: 40px 64px;
}

#slides h1 {
  font-size: 48px;
  margin-bottom: 40px;
  border-bottom: 4px solid #aaa;
}

#slides h2 {
  font-size: 32px;
}

#slides h3 {
  font-size: 24px;
}

#slides li {
  list-style-type: disc;
}

#slides p {
  margin: 20px 0px;
}

#slides ol,
#slides ul {
  margin: 20px 40px;
}

#slides code, 
#slides blockquote {
  margin-left: 40px;
}

#slides p code,
#slides ol code,
#slides ul code {
  margin-left: 0px;
}

#slides code {
  font-family: monospace;
  font-size: 20px;
}

/* Per-slide styling - specific to the presentation */

#slide-cover ul {
  margin-left: 0px;
}

#slide-cover li {
  list-style-type: none;
}

#slide-cover img {
  width: 400px;
  margin-top: 40px;
}

#slide-cover .diagram,
#slide-specification-cli-q .diagram,
#slide-specification-cli-a .diagram {
  text-align: center;
  padding: 10px 0px;
}

#slide-specification-cli-q img,
#slide-specification-cli-a img {
  width: 440px;
}

#slide-thanks img {
  height: 240px;
}

#slide-thanks #col1,
#slide-thanks #col2 {
  width: 50%;
  margin-top: 40px;
  text-align: center;
}

#slide-thanks #col1 {
  float: left;
}

#slide-thanks #col2 {
  float: right;
}

#slide-thanks p {
  text-align: center;
}

